{% extends 'base.html' %}

{% block title %}Post details{% endblock %}

{% block content %}

    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}

    <p><a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.updated|date:"y-m-d H:i" }}</p>
    <p>{{ post.body }}</p><hr>


    {% for comment in comments %}
        <div class="card bg-primary bg-gradient text-white">
            <p class="card-header">{{ comment.user }} | {{ comment.created|timesince }}</p>
            <p class="card-body">{{ comment.body }}</p>
        </div>
    {% empty %}
        <p>No Comments Yet!</p>
    {% endfor %}
{% endblock %}